body {
  background-color: rgb(219, 248, 248);
  font-family: "DynaPuff", cursive;
}

.container {
  text-align: center;
}
h1 {
  font-size: 4rem;
  margin: auto;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 10px;
  font-size: 3em;
}

.footer_1 {
  text-align: center;
  color: rgb(65, 77, 243);
}
.btn {
  font-weight: bold;
  height: 30px;
  background-color: rgb(182, 243, 223);
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover {
  background-color: black;
  color: whitesmoke;
}
